* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -webkit-text-size-adjust: none; }

.wrapper {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  font-family: "Open Sans", sans-serif; }

.hamburger_wrapper {
  position: fixed;
  display: none;
  top: 20px;
  right: 20px;
  z-index: 1003;
  -webkit-transform: scale(0.7);
  transform: scale(0.7); }

.hamburger .line {
  width: 50px;
  height: 5px;
  background-color: #003591;
  border-radius: 3px;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.hamburger:hover {
  cursor: pointer; }

/* ONE */
#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0; }

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg); }

#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg); }

.slide_menu_wrapper {
  position: fixed;
  right: 0;
  top: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 320px;
  padding: 20px;
  padding-right: 80px;
  z-index: 1002;
  background-color: #fff;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out; }
  .slide_menu_wrapper a {
    position: relative;
    text-decoration: none;
    padding: 8px;
    font-size: 20px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out; }
    .slide_menu_wrapper a::before {
      position: absolute;
      content: '';
      height: 2px;
      width: 100%;
      bottom: 0;
      left: 0;
      background-color: #23527C;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out; }
    .slide_menu_wrapper a:hover::before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }
  .slide_menu_wrapper .slide_contacts {
    margin-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

.slide_menu_hide {
  -webkit-transform: translateX(380px);
  transform: translateX(380px); }

.slide_menu_shown {
  -webkit-transform: translateX() !important;
  transform: translateX() !important; }

.overlay {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.5); }

.overlay_hide {
  display: none; }

.flex_aligner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.jcsa {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.jcc {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.vAligner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.aic {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.fww {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.caption {
  text-align: center;
  margin-top: 50px;
  font-size: 28px;
  color: #333333; }

#feedback {
  float: left;
  position: fixed;
  bottom: 190px;
  right: 0;
  z-index: 1004; }
  #feedback a {
    background: #003591;
    border-radius: 5px 0 0 5px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border: 2px solid #fff;
    border-right: 0;
    display: block;
    padding: 20px 12px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    #feedback a:hover {
      padding-right: 20px; }

.modal-body input {
  border: none;
  border: 1px solid #7A7A7A;
  height: 36px;
  padding: 10px;
  margin-bottom: 10px;
  width: 260px;
  border-radius: 3px;
  font-size: 18px; }

.modal-body button {
  border: none;
  outline: none;
  background-color: #1666F1;
  height: 36px;
  padding-right: 18px;
  padding-left: 18px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 1px;
  border-radius: 8px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out; }
  .modal-body button:hover {
    background-color: #0A3071; }

.form_wrapper {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .form_wrapper p {
    color: #AFAFAF;
    font-size: 10px; }

.modal-dialog {
  top: 24%; }

.modal-footer {
  padding: 6px; }

.main_header {
  position: fixed;
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 60px 20px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 999; }

.header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1366px;
  margin: 0 auto; }

.header_logo {
  margin-right: 30px;
  padding: 10px; }
  .header_logo img {
    width: 190px;
    margin-top: 12px;
    margin-right: 20px;
    height: auto; }
  .header_logo p {
    width: 310px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #5E5E5E; }

.header_clogan p {
  font-size: 14px;
  color: #333333; }

.header_contacts_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header_contacts_wrapper p {
    color: #5E5E5E;
    margin-bottom: 40px; }

.header_contacts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .header_contacts div {
    text-align: right; }
  .header_contacts p {
    padding-right: 10px;
    padding-top: 10px;
    line-height: 17px; }

.tar {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

li {
  list-style: none;
  display: inline;
  margin-left: 6px;
  margin-right: 6px; }

ul .menu_a {
  text-decoration: none;
  color: #ffffff;
  background-color: #003591;
  padding: 8px;
  border-radius: 5px;
  font-size: 14px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out; }
  ul .menu_a:hover {
    background-color: #0A3071; }

.main_section {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 168px; }

.slick_wrapper button {
  display: none; }

.slider {
  height: 500px;
  width: 100%; }

.item {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.item_1 {
  background-image: url(../img/14238336098354.jpg); }

.item_2 {
  background-image: url(../img/9-1.jpg); }

.item_3 {
  background-image: url(../img/dd94acfbf131090fb7c76995d3ada87e.jpg); }

.advantages_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  padding-top: 12px; }
  .advantages_wrapper a {
    position: relative;
    text-decoration: none;
    height: 238px; }
    .advantages_wrapper a::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 100%;
      background-color: #003591;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all .2s ease-out;
      transition: all .2s ease-out; }
    .advantages_wrapper a:hover::before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }
  .advantages_wrapper h1 {
    font-size: 16px;
    color: #333333; }
  .advantages_wrapper p {
    color: #333333;
    font-size: 16px;
    line-height: 1.15; }

.advantage {
  width: 250px;
  text-align: center;
  cursor: pointer; }
  .advantage img {
    width: 90px;
    margin: 10px; }

.our_advantages_wrapper {
  background-color: #24272B;
  padding-bottom: 40px; }

.our_advantages_heading h1 {
  color: #ffffff;
  font-size: 28px;
  margin-bottom: 20px;
  padding-top: 30px;
  text-align: center; }

.our_advantages_heading p {
  color: #8B8D8F;
  font-size: 18px;
  margin-bottom: 40px;
  text-align: center; }

.advantage_tile_wrapper {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto; }

.advantage_tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 546px;
  height: 204px;
  padding: 30px;
  margin: 20px;
  border: 3px solid #5D5E5E; }
  .advantage_tile h1 {
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 20px; }
  .advantage_tile p {
    font-size: 14px;
    color: #858789;
    line-height: 24px; }

.rgth .tile_text {
  text-align: right;
  margin-right: 38px; }

.lft .tile_text {
  text-align: left;
  margin-left: 38px; }

.trust_slider_wrapper {
  padding-bottom: 40px; }

.trust_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 1200px;
  max-height: 100px;
  margin: 0 auto; }
  .trust_slider div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
  .trust_slider img {
    max-width: 140px;
    margin: 0 auto; }

.trust_heading {
  text-align: center; }
  .trust_heading h1 {
    margin-top: 50px;
    font-size: 28px;
    color: #333333; }
  .trust_heading p {
    margin-top: 26px;
    margin-bottom: 60px;
    font-size: 18px;
    color: #9B9B9B; }

.main_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #24272B; }
  .main_footer h1 {
    font-size: 12px;
    margin-bottom: 10px;
    color: #ffffff; }
  .main_footer p {
    font-size: 12px;
    color: #86888A; }

.footer_heading img {
  max-width: 140px;
  margin-bottom: 10px; }

.unique_caption {
  font-size: 12px !important;
  color: #86888A !important; }

.main_footer_item {
  max-width: 30%; }

.footer_feedback input, .footer_feedback button {
  margin-bottom: 40px;
  margin-top: 20px; }

.footer_feedback input {
  margin-right: 20px;
  border: none;
  width: 140px;
  height: 30px;
  padding-left: 10px; }

.footer_feedback button {
  border: none;
  outline: none;
  background-color: #1666F1;
  padding: 8px;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 11px;
  color: #ffffff;
  letter-spacing: 1px;
  border-radius: 14px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out; }
  .footer_feedback button:hover {
    background-color: #0A3071; }

.overlay_shown {
  display: block; }

.footer_heading {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.dn_adapt {
  display: none; }

.about_company_wraapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 44px 20px 44px;
  border-bottom: 1px solid #ccc; }
  .about_company_wraapper p {
    font-size: 15px;
    margin-top: 30px;
    color: #24272B; }

.news_caption {
  margin-bottom: 20px; }

.news_preview_text {
  margin-bottom: 4px; }

.more_news {
  margin-left: 80px; }

.news_wrapper {
  max-width: 1300px;
  padding: 20px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc; }

.news_tile {
  max-width: 500px;
  margin: 10px;
  padding: 15px;
  padding-bottom: 5px; }
  .news_tile h1 {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 700;
    color: #333333; }
  .news_tile p {
    color: #333333; }
  .news_tile .news_date {
    font-size: 10px; }

.news_row {
  margin-bottom: 20px; }
  .news_row a {
    text-decoration: none;
    position: relative; }
    .news_row a::before {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      bottom: 0;
      left: 0;
      background-color: #003591;
      -webkit-transition: all .2s ease-out;
      transition: all .2s ease-out;
      -webkit-transform: scaleX(0);
      transform: scaleX(0); }
    .news_row a:hover::before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }
  .news_row span {
    color: #003591; }

.client_tile {
  text-align: center;
  margin: 16px; }
  .client_tile img {
    max-width: 250px;
    margin-bottom: 6px; }
  .client_tile p {
    font-size: 14px;
    max-width: 250px; }

.reviw_wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #24272B; }

.vacancies_wrapper {
  max-width: 1100px;
  padding-bottom: 40px; }

.vacancie {
  margin-bottom: 40px;
  margin-left: 16px;
  border-bottom: 1px solid #ccc; }
  .vacancie h1 {
    font-size: 20px; }
  .vacancie span {
    display: inline-block;
    font-weight: 700; }

.vacancies {
  text-align: center;
  margin-top: 50px;
  font-size: 28px;
  color: #333333; }

.design_tile {
  border: 1px solid #ccc;
  margin: 10px; }
  .design_tile img {
    max-width: 300px; }

.design_wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 20px; }
  .design_wrapper p {
    color: #24272B;
    font-size: 16px;
    line-height: 22px;
    max-width: 1270px;
    margin: 0 auto;
    margin-top: 20px; }

.montage_wrapper {
  max-width: 1300px;
  margin: 0 auto; }

.montage img {
  margin: 20px;
  max-width: 400px;
  height: auto; }

.montage p {
  font-size: 16px;
  color: #24272B;
  margin-top: 20px; }

.objects_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px; }
  .objects_wrapper a {
    margin: 20px;
    text-decoration: none !important; }

.object {
  position: relative;
  width: 250px; }
  .object::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #003591;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out; }
  .object:hover::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  .object:hover footer {
    background-color: #fff; }
  .object:hover p {
    color: #24272B;
    text-decoration: none; }
  .object header {
    width: 100%;
    height: 160px;
    background-image: url("../img/metallokonstruktsii-kiev.jpg");
    background-position: center;
    background-size: cover; }
  .object footer {
    background-color: #003591;
    width: 100%;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out; }
    .object footer p {
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      padding: 10px; }

.contacts_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 40px; }
  .contacts_wrapper span {
    display: block;
    font-size: 18px;
    width: 120px; }
  .contacts_wrapper p {
    font-size: 16px;
    color: #24272B;
    margin: 0; }

.cont {
  margin-bottom: 20px; }

.map {
  margin-top: 40px; }

.posr {
  position: relative; }
  .posr:hover .dropdown {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }

.dropdown {
  position: absolute;
  right: 0;
  top: 27px;
  background-color: #003591;
  border: 1px solid transparent;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all .05s ease-out;
  transition: all .05s ease-out; }
  .dropdown a {
    width: 150px;
    text-align: left;
    text-transform: uppercase;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out; }
    .dropdown a:hover {
      background-color: #fff;
      color: #003591; }

.dropdown2 a {
  width: 220px; }

.left_news {
  width: 230px;
  margin: 30px; }
  .left_news .left_news_caption {
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 15px; }
  .left_news .news_tile {
    padding: 0;
    margin-bottom: 40px; }
  .left_news a {
    text-decoration: underline; }

.left_menu {
  width: 230px;
  margin: 30px;
  -webkit-box-shadow: 0px 0px 14px 0px #aaaaaa;
  box-shadow: 0px 0px 14px 0px #aaaaaa; }
  .left_menu h1 {
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 15px;
    color: #fff;
    background-color: #333; }
  .left_menu a {
    display: block;
    padding: 15px;
    color: #24272B;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
    text-decoration: none; }
    .left_menu a:hover {
      background-color: #003591;
      color: #fff; }

.news_page_wrapper .news_tile {
  max-width: 650px; }

.our_clients_wrapper {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }
  .our_clients_wrapper .client_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 20px; }
  .our_clients_wrapper img {
    max-width: 200px; }
  .our_clients_wrapper p {
    margin: 0;
    margin-top: 20px; }

.reviw_page_wrapper .advantage_tile {
  margin: 0;
  border: none;
  border-bottom: 2px solid #ccc; }
  .reviw_page_wrapper .advantage_tile h1 {
    color: #24272B; }

.products_wrap p {
  text-align: center; }

.left_menu, .left_news {
  margin-right: 80px; }

@media (max-width: 1200px) {
  .montage_wrapper, .design_wrapper, .contacts_wrapper, .vacancies_wrapper {
    padding-left: 20px;
    padding-right: 20px; }
  .main_section {
    padding-top: 180px; }
  .dn1200 {
    display: none; }
  .dn_adapt {
    display: inline;
    text-align: center; }
  .trust_wrapper {
    padding-left: 30px;
    padding-right: 30px; }
  .montage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media (max-width: 992px) {
  .tar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .advantage {
    width: 210px; }
    .advantage img {
      width: 70px; }
    .advantage h1 {
      font-size: 14px; }
    .advantage p {
      font-size: 14px; }
  .main_header {
    padding: 3px; }
  .header_logo {
    margin: 0;
    padding-bottom: 2px; }
  .footer_feedback input {
    margin-bottom: 10px;
    margin-top: 10px; }
  .footer_feedback button {
    margin-bottom: 10px;
    margin-top: 10px; }
  .header_contacts_wrapper p {
    margin-bottom: 10px; }
  .header_menu ul {
    margin-top: 20px; }
  .advantage_tile {
    width: 100%;
    height: auto; } }

@media (max-width: 768px) {
  .left_news, .left_menu {
    margin-right: 20px; }
  .design_wrapper {
    width: 100%; }
  .header_contacts_wrapper p {
    margin-bottom: 0px; }
  .advantages_wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .advantages_wrapper a {
      height: auto; }
  .advantage {
    width: 270px; }
  .header_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .tar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; }
  .header_contacts_wrapper {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .header_logo {
    margin: 0 auto;
    margin-bottom: 10px; }
    .header_logo img {
      width: 150px; }
    .header_logo p {
      width: 100%;
      padding-right: 80px; }
  .footer_feedback input {
    width: 200px;
    margin-bottom: 10px;
    margin-top: 10px; }
  .footer_feedback button {
    margin-bottom: 10px;
    margin-top: 10px; }
  .hamburger {
    display: block; }
  .dn_adapt {
    display: none; }
  .header_contacts div {
    padding-bottom: 4px; }
  .main_footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 14px;
    text-align: center; }
    .main_footer .footer_form {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .main_footer h1 {
      font-size: 14px; }
    .main_footer .main_footer_item {
      max-width: 100%;
      margin-bottom: 10px;
      border-bottom: 1px solid #0F1012; }
    .main_footer .main_footer_item:nth-child(3) {
      border: none;
      margin: 0; }
  .footer_heading {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .header_contacts div {
    padding-bottom: 0; }
  .slide_menu_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main_section {
    padding-top: 154px; }
  .hamburger_wrapper {
    display: block; }
  .montage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .montage div {
      text-align: center; }
  .tile_img {
    display: none; } }

@media (max-width: 568px) {
  .header_logo p {
    display: none; }
  .tile_img {
    display: block; }
  .main_cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .left_menu, .left_news {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px; }
  #feedback {
    bottom: 88px; }
    #feedback a {
      padding: 8px; }
  .cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .main_section {
    padding-top: 90px; }
  .slider, .item {
    height: 400px; }
  .header_contacts_wrapper {
    display: none; }
  .our_advantages_wrapper {
    padding-left: 10px;
    padding-right: 10px; }
  .advantage_tile {
    width: 100%;
    margin: 5px; } }

@media (max-width: 480px) {
  .header_logo p {
    font-size: 12px; }
  .header_logo img {
    width: 130px; }
  .header_logo {
    margin: 0; }
  #feedback {
    bottom: 88px; }
  .about_menu_text {
    min-width: 100%; }
  .about_company_wraapper {
    padding: 10px; }
  .footer_heading img {
    max-width: 120px; } }

@media (max-width: 320px) {
  .our_advantages_wrapper img {
    display: none; }
  .our_advantages_wrapper .advantage_tile {
    height: auto;
    padding: 5px; }
  .our_advantages_wrapper .tile_text {
    text-align: left;
    margin: 0; }
  .header_logo p {
    display: none; }
  .footer_heading img {
    display: none; }
  .about_menu_text {
    width: 100%; }
  .about_tile {
    width: 100%; } }
